
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @*<div class="row">
        <div class="side">
            <div class="center">
                Сайт юридичної допомоги для військових
            </div>
            <img class="main-img" src="~/Images/Default/StartPage.jpg" />
        </div>
    </div>*@
   
    <div class="container">
        <div class="row">
            <div col-md-6 col-sm-12>
                <img src="~/Images/Default/StartPage.jpg" />
            </div>
            <div class="col-md-6 col-sm-12 main-text-about">
                <span>
                <h1>Коротко про нашу компанію</h1>
                </span>
                <div class="col-md-12">
                <p>
                    За допомогою нашого інтернет ресурсу ви зможете спілкуватися з іншими людьми,
                    отримати пораду від юриста або військового. 
                    Кожний користувач може створити власний електронний кабінет
                    Сформувати власний список друзів та відслідковувати історію їхніх проблем. 
                    Існує можливість створиння власного допису, розгляду ситуації, висвітлення події.
                    Зараєстровані користувачі можуть коментувати.
                    Долучайтесь у нас дружній колектив
                </p>
            </div>
            </div>
        </div>
        <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Напрямок</th>
                    <th scope="col">Опис</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Кредитне та банківське право</th>
                    <td>Надання юридичних послуг позичальникам банків (МФО) у ході претензійних та судових тяжб з підстави несплати кредитних зобов'язань та вкладникам банків при поверненні їм вкладів</td>
                </tr>
                <tr>
                    <th scope="row">Міграційне право та право воєнного часу</th>
                    <td>Надання консультацій з питань перетину кордону, оформлення статусу біженця, та щодо законодавства України про мобілізацію під час війни</td>
                </tr>
                <tr>
                    <th scope="row">Господарське право</th>
                    <td>Надання юридичних послуг суб'єктам господарської діяльності, юридичний аутсорсинг</td>
                </tr>
                <tr>
                    <th scope="row">Сімейне право</th>
                    <td>Захист прав громадян в процесі розірвання шлюбу, стягнення аліментів, розподіл майна подружжя, визначення місця проживання дитини та інше</td>
                </tr>
                <tr>
                    <th scope="row">Трудове право</th>
                    <td>Надання юридичних послуг у сфері трудових правовідносин та при нещасних випадках на виробництві</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

